h1 {color: blue;
  text-align: center;
}
h2 {color: green;
  font-style: italic;
  text-align: center;
}
body {
  background-color: brown;
}
p {
  font-family: sans-serif;
  text-decoration-color: brown;
}
ul {
  line-height: 40px;
}
