h1 {color: indigo;
  text-align: center;
}
h2 {color: brown;
  font-style: italic;
  text-align: center;
}
body {
  background-position: center;
  background-color: bisque;
}
p {
  font-family: sans-serif;
  color: purple;
}
ul {
  line-height: 40px;
}
